.container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .col {

    flex: 1;
   margin-right:10rem;
    padding: 10px; /* Adjust padding as needed */
    font-weight:bold;
    gap:10px
    
  }
  