
.about{
    padding-top:9rem;
    padding-bottom:4rem;
    background-color:rgb(84, 84, 84);
    text-align:center;
    color:white;
 
}
.image img{
    width:240px;
    height:240px;
    border-radius:150px;
    margin-left:35rem;
    margin-top:3rem;

}
.generics{
    text-align:center;
    display:flex;
    justify-content:space-between;
    padding:3rem;
    background-color:rgb(31, 143, 143);
    color:white;

}
 .apps {
    display:flex;
    justify-content:space-between;
    gap:40px;
    margin-right:10rem;
    background-color:rgb(71, 136, 136);
   

 }

 .apps img{
    width:35px;
    height:35px;
    filter: grayscale(100%);

 }
.aboutt{
    text-align:center;
}

  
