.alert {
    position: fixed;
    top: -50px; /* Initial position outside of the screen */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    padding: 15px;
    text-align: center;
    animation: slideIn 0.5s forwards; /* Animation duration and fill mode */
    width:15rem;
    height:6rem;
    
  }
  .button{
    margin-top:10px;
  }
  
  @keyframes slideIn {
    from {
      top: -50px; /* Start position outside of the screen */
    }
    to {
      top: 0; /* End position at the top of the screen */
    }
  }
  